In [2]:
import pandas as pd 
import numpy as np

# inpurt : Company_data 、Omdb_data 

# goal: 將特徵:公司 合併到Omdb_data

# Output: Merge_Company

In [3]:
company = pd.read_csv('all_company_first_transform.csv')
company

,Title,Company1,Company2
0,Dawson's Creek,Columbia TriStar Television,Outerbanks Entertainment
1,The Mandalorian,Golem Creations,Fairview Entertainment
2,Breaking Bad,Gran Via Productions,High Bridge Productions
3,The Blacklist,Universal Television,Davis Entertainment
4,Wayne,Endeavor Content,NaN
...,...,...,...
151665,Approach the Bench,Above Average,NaN
151666,Supernatural,Warner Bros. Television,Kripke Enterprises
151667,Grey's Anatomy,The Mark Gordon Company,Shondaland
151668,Game of Thrones,Television 360,Home Box Office (HBO)
151669,A tu lado,Martingala,NaN

In [6]:
omdb_data = pd.read_csv('Omdb_data_first_transform.csv')
omdb_data

,_id,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Plot,...,imdbID,Type,totalSeasons,Actor_1,Actor_2,Actor_3,Nominated_Emmy,Won_Emmy,Nominated_Golden_Globe,Won_Golden_Globe
0,5fb14937f686757a60e6dc67,The Boys,2019–,TV-MA,2019,60 min,"Action, Comedy, Crime, Sci-Fi",NaN,Eric Kripke,A group of vigilantes sets out to take down co...,...,tt1190634,series,3,Karl Urban,Jack Quaid,Antony Starr,1,0,0,0
1,5fb14937f686757a60e6dc68,Schitt's Creek,2015–2020,TV-14,2015,22 min,Comedy,NaN,"Dan Levy, Eugene Levy",When rich video-store magnate Johnny Rose and ...,...,tt3526078,series,6,Eugene Levy,Catherine O'Hara,Dan Levy,0,9,0,0
2,5fb14937f686757a60e6dc6a,This Is Us,2016–,TV-14,2016,45 min,"Comedy, Drama, Romance",NaN,Dan Fogelman,A heartwarming and emotional story about a uni...,...,tt5555260,series,5,Milo Ventimiglia,Mandy Moore,Sterling K. Brown,0,0,0,1
3,5fb14937f686757a60e6dc6b,Cobra Kai,2018–,TV-14,2018,30 min,"Action, Comedy, Drama, Sport",NaN,NaN,Decades after their 1984 All Valley Karate Tou...,...,tt7221388,series,2,William Zabka,Tanner Buchanan,Mary Mouser,2,0,0,0
4,5fb14937f686757a60e6dc6c,The Office,2005–2013,TV-14,2005,22 min,Comedy,NaN,"Greg Daniels, Ricky Gervais, Stephen Merchant",A mockumentary on a group of typical office wo...,...,tt0386676,series,9,Rainn Wilson,John Krasinski,Leslie David Baker,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62015,5fb149ccf686757a60e88c5e,Wild Cameramen at Work,2013–,NaN,2013,30 min,Documentary,NaN,NaN,NaN,...,tt5748402,series,0,David Attenborough,Doug Allen,Doug Anderson,0,0,0,0
62016,5fb149ccf686757a60e88c60,Sesame Street: T is for Train,2018–,NaN,2018,NaN,Family,NaN,NaN,NaN,...,tt8678994,series,0,NaN,NaN,NaN,0,0,0,0
62017,5fb149ccf686757a60e88c61,In2Minds,2004–,NaN,2004,NaN,Family,NaN,NaN,NaN,...,tt4226636,series,6,Angelo Andreou,Rachel Heaton,Ellie Kendrick,0,0,0,0
62018,5fb149ccf686757a60e88c63,Schreinemakers,2004–,NaN,2004,50 min,Talk-Show,NaN,NaN,NaN,...,tt1116907,series,0,Margarethe Schreinemakers,NaN,NaN,0,0,0,0
62019,5fb149ccf686757a60e88c64,Zon@ Disney,2002–2007,NaN,2002,NaN,NaN,NaN,NaN,NaN,...,tt1891712,series,0,Jimmy Castro,Natalia Benito,Sergio Bermúdez,0,0,0,0

# 資料前處理將要合併欄位做清洗

In [10]:
omdb_data.Title = omdb_data.Title.str.strip()

In [12]:
company.Title = company.Title.str.strip()

# omdb_data為主合併公司

In [15]:
omdb_merge = pd.merge(omdb_data,company,on='Title',how = 'left')

In [17]:
omdb_merge['Company1'].isna().sum()

8349

In [19]:
# output data
omdb_merge.to_csv('Merge_omdbdata_Company.csv',index=False)